html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}
#map {
	height: 100%;
}
.button {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1px 2px;
	text-align: center;
	margin: 2px 2px;
	cursor: pointer;
	font:12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.button:hover, #prefs-button:hover {
	border-color: #fff;
}
.button:active, #prefs-button:active {
	background-color:#999999;
}
.profileSelect {
	background-color: rgba(0,125,125,0.5);
	padding: 3px;
	border-radius: 5px 5px 0 0;
}
.leaflet-control {
	/*clear: none;*/
}
.leaflet-popup-pane {
	opacity: 0.9;
}
.location-button {
	width: 35px;
	height: 35px;

	background-image: url(../images/location.png);
}
.fullscreen {
	width: 35px;
	height: 35px;
	background-image: url(../images/fullscreen.png);
}
.ors-routing {
	width: 35px;
	height: 35px;
	background-image: url(../images/routing_icon.png);
}
.ors-routing:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.reload {
	width: 35px;
	height: 35px;
	background-image: url(../images/view-refresh.png);
}
.load-gpx {
	width: 35px;
	height: 35px;
	background-image: url(../images/gpx.png);
}
.track-plotter {
	width: 35px;
	height: 35px;
	background-image: url(../images/routing-icon.png);
}
.track-plotter:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}
/* .modal { */
/* 	display: none; /1* Hidden by default *1/ */
/* 	position: fixed; /1* Stay in place *1/ */
/* 	z-index: 10000; /1* Sit on top *1/ */
/* 	left: 0; */
/* 	top: 0; */
/* 	width: 100%; /1* Full width *1/ */
/* 	height: 100%; /1* Full height *1/ */
/* 	overflow: auto; /1* Enable scroll if needed *1/ */
/* 	background-color: rgb(0,0,0); /1* Fallback color *1/ */
/* 	background-color: rgba(0,0,0,0.4); /1* Black w/ opacity *1/ */
/* } */

/* /1* Modal Content/Box *1/ */
/* .modal-content { */
/* 	background-color: #fefefe; */
/* 	margin: 15% auto; /1* 15% from the top and centered *1/ */
/* 	padding: 20px; */
/* 	border: 1px solid #888; */
/* 	border-radius: 10px; */
/* 	width: 80%; /1* Could be more or less, depending on screen size *1/ */
/* } */
/* The Close Button */
.close {
	color: #000;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.measure {
	background-image: url(../images/24.png);
	background-repeat: no-repeat;
}
.divicon {
	background-color: #05f;
	border: 1px solid #005;
	border-radius: 10px;
}
.starticon {
	background-color: #080;
	border: 2px solid #005;
	border-radius: 15px;
}
.endicon {
	background-color: #f00;
	border: 2px solid #005;
	border-radius: 15px;
}
.leaflet-routing-alt, .leaflet-routing-geocoders {
	max-height: 160px;
}
.info-window {
	max-width: 320px;
	background: rgba(255,255,255,.8);
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 4px 4px rgba(0, 0, 0, 0.1);
	border: 1px #fff;
	border-radius: 5px;
}
.info-window-inner {
	width: 100%;
	overflow: auto;
	max-height: 40vh;
	padding: 5px;
	resize: vertical;
}
p {
	width: 100%;
	/*padding: 3px;*/
	margin: 0;
}
p:hover {
	background-color:#ddd
}
div.input-elems p {
	width: 90%;
}
.info-window-input {
	width: 90%;
}
#geo-info p {
	border-bottom: 1px solid #555555;
	margin: 2px;
	overflow: hidden;
}
#searchDropdown {
	position:absolute;
	top:0;
	right:250px;
	float:left;
	list-style: none;
	padding: 5px;
	width: 235px;
	max-height:260px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: #fff;
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
}
#searchDropdown1 {
	position:absolute;
	top: 31px;
	left: 36px;
	list-style: none;
	padding: 5px;
	width: 235px;
	max-height:260px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: #fff;
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
}
#search-div {
	position: absolute;
	top: -5px;
	left: 27px;
	height: 40px;
	padding: 5px;
	width: 0;
	overflow: hidden;
}
#search-input {
	width: 95%;
	height: 100%;
	display: block;
}
.search-button {
	width: 35px;
	height: 35px;
	background-image: url('../images/search-icon.png');
}
#prefs-button {
	width: auto;
	height: auto;
	min-height: 30px;
	display:block;
	background-size: 95%;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 1px 2px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	font:12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;

}
.elev-window {
	position: relative;
	background: rgba(156, 194, 34, 0.2);
	width: 320px;
	max-width: 95vw;
	max-height: 120px;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1), 0 4px 4px 4px rgba(0, 0, 0, 0.1);
	border: 1px #fff;
	border-radius: 5px;
	padding: 10px;
}
#elevation {
	position: relative;
	top: 0;
	left: 0;
	width: 300px;
	max-width: 90vw;
	height: 75px;
	z-index: -1;
}
#mouseover {
	position: absolute;
	top: 0;
	left: 9px; /*  9px so that mouse pointer can get to very start */
	width: 302px; /* As above */
	z-index: 1;
}

